{% extends "base.html" %}

{% block title %}Upload - Instagram{% endblock %}

{% block body %}
    <h1>Upload Page</h1>
    <p>User : {{request.user}}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="upload">Upload Image: </label>
        <input type="file" name="image" id="upload"> <br>
        <label for="caption">Caption: </label>
        <input type="text" name="caption" id="caption"> <br>

        <button>Upload</button>
    </form>
{% endblock %}